{% extends "GRsystem/index.html" %}


<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<style>

</style>
          {% load static %}
  


       <div class="container justify-content-around">
                
                <p style="color:black; font-size:40px;">  Weather Data Collector</p>
        <p style="color:black; text-align:justify;">

           This is a Project for getting the Temperature of city and the weather Forecast Data using Weather API.
           <br>
           Developed by Suraj Bhandarkar S
                </p>
            <center> <img width="50%" height="50%" src="{% static 'GRsystem/img/weather.jpg' %}" class="img-rounded" alt="Cinque Terre"></center>

             

</div>
 

  {% endblock %}