{% extends "GRsystem/index.html" %}
{% load crispy_forms_tags %}

{% block content %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
 
 <style>
 .card {display:inline-block;}
 </style>
 <br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-0 ">
		
		     <div class="list-group ">
			
			 {% if user.is_authenticated %}
			 
                 <a href="" class="list-group-item list-group-item-action active"> Welcome : {{user.first_name}} </a>
              <a href='/dashboard/' class="list-group-item list-group-item-action">Weather</a>
			  <a href="/stats/" class="list-group-item list-group-item-action">Weather Statistics</a>
			    <a href="/form/" class="list-group-item list-group-item-action">InputData</a>
				 <a href="/graphs/" class="list-group-item list-group-item-action">Graph</a>
              <a href='/password/' class="list-group-item list-group-item-action">Password Reset</a>


              
            
              {% endif %}
              
              
            </div> 
		</div>
		<br>
		<div class="col-md-10">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-3">
		                 
		                    
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12" style="margin:10px">
						{% if messages %}
<ul>
	{% for message in messages %}
	   <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
	   <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
	{% endfor %}
</ul>
{% endif %}
<br>
<section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
				 
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{form|crispy}}
                            
                            <div class="control">
                                <button class="button is-info" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
            
				
                    {% for weather in weather_data %}
					  <div class="col-2">
					<div class="card" style="width: 12rem;">
  					<img class="card-img-top"src="http://openweathermap.org/img/w/{{ weather.icon }}.png"  alt="Card image cap">
					  <hr>
  					<div class="card-body">
   					 <h5 class="card-title"><b>{{ weather.city }}</b></h5>
   					 <p class="card-text"><b>{{ weather.temperature }}° C</b></p>
					 <p class="card-text text-capitalize text-p-1">{{ weather.description }}</p>
					
 					 </div>
					</div>
					</div>
					<br>
					<br>

                  
				
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
	


		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
               
                
				
				
           
		            
		
{% endblock content %}